@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

header,
main,
footer {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

main {
  background-color: rgba(22, 22, 22, 0.3);
  border-radius: 7px;
  margin: 25px;
  padding: 25px;
}


body {
  background-color: #262626;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  background-color: #68828C;
  border-radius: 7px;
  margin: 25px;
  padding: 25px;
  color: white;
  font-size: 20px;
  text-align: center;
}

hr {
  margin: 25px;
}


main {
  color: #262626;
  background-color: #68828C;
}

footer {
  background-color: #68828C;
  border-radius: 7px;
  margin: 25px;
  padding: 25px;
  color: white;
  font-size: 20px;
  text-align: center;
}

#processos {
  background-color: #F2F2F2;
  border-radius: 7px;
  margin: 25px;
  padding: 25px;
}

#concursos {
  background-color: #F2F2F2;
  border-radius: 7px;
  margin: 25px;
  padding: 25px;
}

#eduque-se {
  background-color: #F2F2F2;
  border-radius: 7px;
  margin: 25px;
  padding: 25px;
}