@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

header,
main,
footer {
  font-style: normal;
  font-weight: weight;
  font-optical-sizing: auto;
  font-family: "Nunito", sans-serif;
}

main {
  margin: 25px;
  padding: 25px;
  border-radius: 7px;
  background-color: rgba(22, 22, 22, 0.3);
}

body {
  background-size: cover;
  background-color: #262626;
  background-repeat: no-repeat;
  background-image: url(/basic-links/assets/guia_saopaulo.jpg);
}

header {
  margin: 25px;
  padding: 25px;
  color: white;
  font-size: 40px;
  text-align: center;
  background-size: cover;
  background-color: #68828C;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 7px 7px 0px 0px;
  background-image: url("https://i.pinimg.com/originals/5f/98/87/5f9887a5bacd770b4eae1a42f6868102.jpg");
}

header > h1 {
  text-shadow: 4px 4px 1px #0a0101;
}

hr {
  margin: 25px;
}


main {
  color: #262626;
  border-radius: 0px;
  background-color: #68828C;
}

footer {
  margin: 25px;
  padding: 25px;
  color: white;
  font-size: 20px;
  text-align: center;
  background-color: #68828C;
  border-radius: 0px 0px 7px 7px;
}

#processos {
  margin: 25px;
  padding: 25px;
  border-radius: 7px;
  background-color: #F2F2F2;
}

#concursos {
  margin: 25px;
  padding: 25px;
  border-radius: 7px;
  background-color: #F2F2F2;
}

#eduque-se {
  margin: 25px;
  padding: 25px;
  border-radius: 7px;
  background-color: #F2F2F2;
}

#bem-estar {
  margin: 25px;
  padding: 25px;
  border-radius: 7px;
  background-color: #F2F2F2;
}